#cardsTable {
    /* width: 80%; */
} 

col {
    margin: 3%;
}

.card {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.authorCard, .titleCard {
    font-family: Montserrat-Medium;
    font-size: 14px;
    text-align: center;
    margin: 5px 0px 5px 0px;
}

.cardImg {
    /* height: 100%;
    width: 100%; */
}

.pagination li {
    margin-left: 2px;
    margin-right: 2px;
}

.pagination > .active > a
{
    color: white;
    background-color: #b0dddc !Important;
    border: solid 1px #b0dddc !Important;
}

.modal-dialog {
    top: 25%;
    transform: translate(-50%,-50%);
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

#modalLabel {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

#modalBody {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

.readButton {
    height: 40px;
    width: 70%;
    border-radius: 22px;
    border: 1px solid #b0dddc;
    background-color: #b0dddc;
    font-family: Montserrat-Medium;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 30px;
}
